In [1]:
a=2
print(a)

2

In [6]:
[ x for x in range(10) if x%2==0 ]

[0, 2, 4, 6, 8]

Somme des Valeurs

In [9]:
l2 = [ x for x in range(10) if x%2==0 ]
sum(l2)

20

1 Python les bases

1. Exercices

1.5 Calcul

In [30]:
num=0
num = int(input("Entrez valeur : "))
for i in range(10) : #itérations of 10 so boucle gonna repeat 10 times
    num=num+1
    print(num)

Entrez valeur : 5
6
7
8
9
10
11
12
13
14
15

1.6 Aditivité

In [43]:
start=0
num = int(input("Entrez valeur : "))
for i in range(1,num,1) : #itérations of 10 so boucle gonna repeat 10 times
    start=start+1
    if start==num :
        print(start)
        sys.exit()
    else: 
        print(start)

Entrez valeur : 20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

2. Les Tableaux
  
    2.1. La Somme

In [46]:
l=[1,2,3,4,5]
sum(l)

15

    2.2 La Somme : retour

In [ ]:
tab1=[1,2,3,4,5]
tab2=[2,3,3,4,5]
tab3=[]